.nameInputs {
    border: transparent;
    background: transparent;
}

.nameInputs:focus {
    outline: none;
}

.testCreation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stepsDiv {
    border: 1px solid #4C0E97;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 658px;
    padding: 26px 70px;
    margin-bottom: 30px;
}

.stepsLabel {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.stepsNum {
    display: flex;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin: 0 20px;
    font-size: 26px;
    border-radius: 100px;
    color: white;
}
.stepsNum1{
    background: #CFCCCC;

}
.stepsNum2{
    background: #4C0E97;
}
.firstCreationDiv {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.testNameDiv {
    padding: 50px 70px;
    width: 658px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #9895D1;
    border-radius: 30px;
    background: #9895D1;
}

.nameInput {
    color: #4C0E97;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 2px solid #4C0E97;
    margin-bottom: 20px;
}

.nameInput::placeholder {
    color: #4C0E97;
}

.descInput {
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid white;
    font-size: 24px;
}

.descInput::placeholder {
    color: #ffffff;
}

.timeDiv {
    width: 658px;
    margin: 24px 0;
    border: 1px solid #9895D1;
    background: #E4E2FE;
    border-radius: 30px;
    padding: 40px 70px;
    font-size: 24px;
    font-weight: 600;
}

.timeLimitDiv {
    margin-bottom: 20px;
}

.dateLimitDiv {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px;
}

.timeLimitLabel {
    color: #9747FF;
    margin-right: 33px;
}

.inputTime {
    font-size: 24px;
    width: 110px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #9895D1;
}

.inputDate {
    font-size: 24px;
    width: 180px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #9895D1;
}
.tagsDiv{
    width: 658px;
    border: 1px solid #9895D1;
    background: #E4E2FE;
    border-radius: 30px;
    padding: 40px 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.searchDiv {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #949494;
    border-radius: 10px;
    width: 350px;
    background: white;
    margin-bottom: 20px;
}

.searchTag {
    padding-left: 10px;
    width: 330px;
}

.createNewTag{
    background: black;
    color: white;
    font-size: 16px;
    width: 170px;
    height: 42px;
    border-radius: 15px;
    border: none;
}
.buttonBack{
    position: absolute;
    left: 90px;
    top: 120px;
    margin: 0;
}
.newTagDiv{
    background:rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom:0;
}
.innerNewTagDiv{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    background: #50F2AE;
    width: 540px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 40px 180px;
    border-radius: 30px;
}
.createTagLabelBig{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    margin-bottom: 30px;
}
.createTagLabelSmall{
    font-size: 28px;
    margin: 10px;
 }
.createTagInput{
    padding: 5px 10px;
    font-size: 24px;
    width: 540px;
    border-radius: 10px;
    border: 1px solid #9895D1;
}
.btnConfirmNewTag{
    margin-top: 70px;
    background: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: none;
    min-width: 160px;
    padding: 16px 34px;
    border-radius: 15px;
    font-size: 26px;
    cursor: pointer;
}
.btnBackToFirst{
    margin-top: 30px;
    position: static;
    transform: none;
}
.createTagBtnClose{
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3%;
}
.testCreationBtn:hover{
    background: #858484;
}
.addQuestionBtn{
    background: #44E3A0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    min-width: 160px;
    padding: 16px 34px;
    border-radius: 15px;
    font-size: 26px;
    cursor: pointer;
    margin-top: 10px;
}
.addQuestionBtn:hover{
    background: black;
    color: white;
}
.nextBtn{
    width: 200px;
    margin-top: 30px;
    margin-right: 100px;
    background-color: royalblue;
    color: white;
    border: none;
    padding: 16px 34px;
    border-radius: 15px;
    font-size: 26px;
    cursor: pointer;
}
.nextBtn:hover{
    background: black;
}
.confirmCreationDiv{
    display: flex;
    justify-content: space-between;
    width:600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
.secondCreationDiv{
}
.btnSaveCreation{
    margin-top: 30px;
    width: 200px;
}
.tagsChoiceDiv{
    border-radius: 30px;
    border: 1px solid #4C0E97;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 370px;
    height: 555px;
    transform: translateX(150px) translateY(-650px);
}
.tagsCreationDiv{
    font-size: 24px;
    width: 330px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}
