.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 100px;
    border-bottom: 1px solid royalblue;
}

.siteName {
    text-align: center;
    font-size: 44px;
    font-weight: 500;
}

.namePart {
    color: royalblue;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    margin: 0 20px;
    background-color: royalblue;
    color: white;
    border: none;
    padding: 12px 42px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.headerBtn {
    margin: 0 10px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 12px 22px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.userPic {
    width: 50px;
    margin-left: 30px;
    cursor: pointer;
}

.headerBtn:hover {
    color: royalblue;
}

.loginBtn:hover {
    background-color: black;
}