.nameReset{
    margin-top: 100px;
    margin-bottom: 50px;
}
.buttonReset{
    margin: 50px;
}
.buttonBack{
    padding: 10px;
    align-items: center;
    background: transparent;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    justify-self: center;
    margin-left: 45%;
    margin-bottom: 120px;

}
.labelBack{
    cursor: pointer;
    margin-left: 10px;
}