.login{
    height: 58vh;
}
.form{
    text-align: center;
}
.block{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.buttonShow{
    position: absolute;
    z-index: 1;
    right: 39%;
    border-radius: 100px;
    margin-top: 1px;
    margin-right: 10px;
    width: 50px;
    padding-top: 1px;
    border: transparent;
    background: transparent;
}
.input{
    padding: 5px 10px;
    font-size: 18px;
    width: 20%;
    align-self: center;
    height: 30px;
    border-radius: 100px;
}
.label{
    text-indent: 40%;
    text-align: left;
    margin: 2px;
    font-size: 20px;
    font-weight: 500;
}
.buttonConfirm{
    margin-top: 30px;
    background-color: royalblue;
    color: white;
    border: none;
    padding: 16px 34px;
    border-radius: 15px;
    font-size: 26px;
    cursor: pointer;
}
.buttonConfirm:hover{
    background-color: black;
}
.name{
    margin:50px 0 30px 0 ;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}
.namePart2{
    color: royalblue;
}
.loginRedirect{
    margin-top: 20px;
    text-align: center;
}
.lowerDiv{
    width: 20%;
    margin: 20px auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.serverError{
    border: 1px solid red;
    width: 20%;
    font-size: 18px;
    background: rgba(255, 0, 0, 0.1);
    margin: auto;
}
@media (orientation: portrait) {
    .input{
        width: 90%;
    }
    .buttonShow{
        right: 1%;
    }
    .label{
        text-indent: 5%;
    }
    .serverError{
        width: 90%;
    }
}