.btnSaveAnswer{
    background: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding:5px 7px ;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #FFFEFE;
}