.mainBackground {
    width: fit-content;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.threeDivs {
    margin-left: 90px;
    margin-right: 90px;
    width: 1720px;
    flex-direction: column;
    display: flex;
}

.learnMoreDiv {
    width: 100%;
    height: 569px;
    margin-top: 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learnMoreDivText {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learnMoreDivButton {
    composes: button1 from "../../Global.module.css";
    margin-top: 74px;
    height: 80px;
    width: 226px;
}



.picturesDiv {
    width: 100%;
    height: 1123px;
    margin-top: 185px;
    border: #8696FE 4px solid;
    border-radius: 28px;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    box-shadow: 0 5px 10px 1px grey;
    align-items: center;
}

.picturesDivTitle{
    margin-top: 80px;
}

.picturesDivImg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-around;
    margin-bottom: 60px;
}

.signUpDiv {
    width: 100%;
    height: 1082px;
    /*background: blue;*/
    margin-top: 50px;
    margin-bottom: 91px;
    align-items: center;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}

.signUpDivLevel1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 72px;
}

.signUpDivLevel2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: green;*/
    flex-grow: 3;
    justify-content: center;
}

.signUpDivLevel2Text{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 400;
    height: 391px;
    width: 631px;
    line-height: 49px;
    letter-spacing: 1px;
}

.signUpDivLevel2Button{
    composes: button1 from "../../Global.module.css";
    width: 226px;
    height: 80px;
    margin-top: 60px;
}

.contactUsDiv {
    width: 100%;
    height: 534px;
    background: linear-gradient(to bottom, white 267px, rgba(134, 150, 254, 1) 267px,  rgba(134, 150, 254, 1) 323px, rgba(50, 50, 50, 0.3) 324px, white 330px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.contactUsDivPanel{
    height: 534px;
    width: 1720px;
    border: rgba(134, 150, 254, 1) 4px solid;
    border-radius: 28px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactUsDivContent{
    display: flex;
    flex-direction: column;
}

.contactUsDivContentText1{
    margin-top: 120px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 48px;
    /*background: #8696FE;*/
    /*height: 65px;*/
    /*width: 656px;*/
    color: rgb(30, 30, 30);
}

.contactUsDivContentText2{
    margin-top: 6px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 60px;
    /*background: aqua;*/
    /*height: 82px;*/
    /*width: 971px;*/
    color: rgb(73, 66, 228);
}

.contactUsDivContentButton{
    composes: button1 from '../../Global.module.css';
    z-index: 3;
    width: 290px;
    height: 80px;
    position: absolute;
    margin-top: 354px;
}

.contactUsDivImg{
    width: 389px;
    height: 376px;
    margin-top: 56px;
}
