.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 100px;
    border-bottom: 1px solid royalblue;
}

.siteName {
    text-align: center;
    font-size: 44px;
    font-weight: 500;
}

.namePart {
    color: royalblue;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    margin: 0 20px;
    background-color: royalblue;
    color: white;
    border: none;
    padding: 12px 42px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.headerBtn {
    margin: 0 10px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 12px 22px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.userPic {
    width: 50px;
    margin-left: 30px;
    cursor: pointer;
}

.footer{
    background-color: #C7B7DA;
    height: 200px;
    align-items: start;
    margin-top: 40px;
}

.contactBlock{
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 20px;
    width: 35%;
    margin:30px 10%;
}

.linkBlock{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.linkPolicy{
    margin-bottom: 10px;
    cursor: pointer;
}

.linkPolicy:hover{
    color: white;
}

.linkFooter{
    margin-top: 10px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.icon2{
    display: inline-block;
    margin:10px 15px 0 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: white;
}

.icon2:hover .icon{
    opacity: 0;
}

.iconFb:hover{
    background: url("../../Img/facebookIcon2.svg");
}

.iconIn:hover{
    background: url("../../Img/linkedinIcon2.svg");
}
.iconX:hover{
    background: url("../../Img/xIcon2.svg");
}

.copyright{
    margin-top: 150px;
    margin-right: 70px;
    color: #717070;
}

.headerBtn:hover {
    color: royalblue;
}

.loginBtn:hover {
    background-color: black;
}